@import url("https://fonts.cdnfonts.com/css/gellix");

:root {
  --background: #f5f5f5;
  --main: #112d4e;
  --wordaccent1: #3f72af;
  --wordaccentbg1: #dbe2ef;
  --wordaccent2: #1687a7;

  --backgroundR: #dddddd;
  --mainR: #000035;
  --wordaccent1R: #00bdff;
  --wordaccentbg1R: white;
  --wordaccent2R: #00a2dd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gellix", sans-serif;
  font-size: 20px;
}

.rubrica {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.rubrica thead tr {
  background-color: var(--mainR);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.rubrica th,
.rubrica td {
  padding: 12px 15px;
}

.rubrica tbody tr {
  border-bottom: 1px solid #dddddd;
}

.general table {
  border-collapse: collapse;
}

.general tr {
  display: flex;
  justify-content: space-between;
  border: solid;
  border-color: var(--backgroundR);
  border-width: 1px 0;
}

.general tr:first-child {
  border-top: none;
}
.general tr:last-child {
  border-bottom: none;
}

.general td {
  padding: 10px;
}

.two_objects_column {
  display: flex;
  gap: 10px;
  align-items: center;
}

body {
  background-color: var(--backgroundR);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

article {
  flex: 1;
}

h1 {
  color: var(--mainR);
}

.header {
  background-color: var(--mainR);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 5px 5%;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
}

.header .logo {
  cursor: pointer;
}

.header .logo img {
  height: 50px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover {
  transform: scale(1.2);
}

.header .btn button {
  font-weight: 700;
  color: var(--wordaccentbg1R);
  padding: 9px 25px;
  background: var(--wordaccent1R);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover {
  /*background-color: var(--wordaccent2R);
  color: var(--wordaccentbg1R); */
  transform: scale(1.1);
}

.container {
  display: grid;
  background: #ffffff;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0px 10px 10px #b8b8b8;
}

.label {
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.cuentacontent {
  justify-content: space-between;
  display: flex;
  grid-template-columns: 40% 60%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-inline: 20px;
}

.mitad {
  display: grid;
  grid-template-columns: 40%40%;
}

.cuentabig p {
  font-size: 40px;
  padding: 0 20px;
}

.cuentabig .cuentalast li {
  list-style-type: none;
  display: inline-block;
}

.cuentabiglast p {
  font-size: 40px;
}

.logout button {
  color: var(--wordaccentbg1R);
  padding: 6px 10px;
  background: #8b0000;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.logout button:hover {
  /*background-color: var(--wordaccent2R);
  color: var(--wordaccentbg1R); */
  transform: scale(1.1);
}

.firstrow {
  justify-content: space-between;
  display: flex;
  grid-template-columns: 50% 10% 10% 30%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-inline: 20px;
}

.firstrow .title {
  font-size: 30px;
}

.firstrow .status {
  color: var(--wordaccent1R);
  font-weight: bold;
}

.btnP button {
  color: var(--wordaccentbg1R);
  padding: 6px 10px;
  background: var(--wordaccent1R);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btnP button:hover {
  /*background-color: var(--wordaccent2R);
  color: var(--wordaccentbg1R); */
  transform: scale(1.1);
}

/* nav bar start */
/* reference: https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp /*

/* Links inside the navbar */
.menu a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 10px 10px;
  border-radius: 30px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  font-size: 16px;
  padding: 0 20px;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  color: #eceff1;
  text-decoration: none;
}

.header .nav-links li a:hover {
  color: var(--wordaccent2R);
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--wordaccent1R);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  display: inline;
}

/* nav bar end */

/* styles for a and button start */

.link {
  color: var(--wordaccent1);
  text-decoration: none;
}

/* Link especial para las ediciones */

.link-edicion {
  color: var(--wordaccent1);
  text-decoration: none;
  cursor: default;
}

.link:hover {
  color: var(--mainR);
  text-decoration: underline;
}

.btn {
  color: var(--wordaccentbg1R);
  padding: 6px 10px;
  background: var(--mainR);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.cornerbtn {
  text-align: justify;
  justify-items: center;
  display: grid;
  grid-template-columns: 70% 30%;
  margin-bottom: 20px;
}

.btnguardar {
  color: var(--wordaccentbg1R);
  padding: 6px 10px;
  background: var(--mainR);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  width: 100px;
}

.btnguardar:hover {
  /*background-color: var(--wordaccent2R);
  color: var(--wordaccentbg1R); */
  transform: scale(1.1);
}

.cancel {
  color: var(--wordaccentbg1R);
  padding: 6px 10px;
  background: rgb(204, 204, 204);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.cancel:hover {
  /*background-color: var(--wordaccent2R);
  color: var(--wordaccentbg1R); */
  transform: scale(1.1);
}

/* styles for a and button end*/

.btn:hover {
  /*background-color: var(--wordaccent2R);
  color: var(--wordaccentbg1R); */
  transform: scale(1.1);
}

.secondrow {
  text-align: justify;
  justify-items: center;
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.secondrow .img {
  width: 300px;
  height: auto;
  border-radius: 15px;
}

.descripcion {
  word-break: break-all;
}

.thirdrow {
  justify-items: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.thirdrow .calbox {
  background-color: var(--wordaccent1R);
  color: #ffffff;
  border-radius: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-inline: 27%;
  margin-top: 5px;
}

.thirdrow .cal {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.thirdrow .caltext {
  padding-block: 5px;
}

.videorow {
  margin-left: 15px;
  margin-bottom: 10px;
}

.login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

input {
  border-radius: 50px;
  border-style: solid;
  padding-left: 10px;
}

input:focus {
  border-color: var(--mainR);
}

select {
  border-radius: 50px;
  border-style: solid;
  padding-left: 10px;
}

select:focus {
  border-color: var(--mainR);
}

.small_window {
  margin-inline: 30%;
}

/* CSS para edicion_de_expo_vista start */
#nueva-edicion-btn {
  /* margin-left: 1000px; */
  float: right;
  margin-right: 5%;
  /* padding-bottom: 50px; */
  margin-bottom: 30px;
}
/* CSS para edicion_de_expo_vista end */

/* CSS para editar usuarios start */
#instrucciones-editar-usuario {
  display: flex;
  /* text-align: center; */
  /* background-color: gray; */
}

.pruebaZ {
  /* float: left; */
  font-size: 1px;
  /* background-color: black; */
  position: absolute;
  right: 10%;
  color: black;
}

.pruebaZ h2 {
  /* color: ; */
  color: #000035;
  /* background-color: #00bdff; */
}

#texto-instruciones {
  font-size: 15px;
  padding-top: 23.4px;
}
/* CSS para editar usuarios end */

/* CSS para edicion de expo editar start*/

#forms-editar-edicion-expo {
  /* border-top: 200px !important; */
  /* margin: 1000px; */
  width: 50%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 50px;
}

#nombre {
  display: grid;
  padding: 10px;
}

#fecha-inicio {
  display: grid;
  padding: 10px;
}

#fecha-fin {
  display: grid;
  padding: 10px;
}

#estatus-div {
  padding: 10px;
}

#opciones {
  display: flex;
  padding-top: 100px;
  width: 100%;
}

#opciones button {
  padding: 15px 10px;
}

#btn-cancelar {
  background-color: white;
  color: black;
  border: solid black;
  /* justify-content: right; */
}

.btn-eliminar {
  background-color: red;
  color: black;
  border: solid black;
  /* justify-content: right; */
  color: var(--wordaccentbg1R);
  padding: 4px 8px;
  /* background: var(--mainR); */
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

#guardar {
  /* background-color: darkred; */
  width: 50%;
  padding-left: 3em;
}

#cancelar {
  /* background-color: darkcyan; */
  width: 50%;
  text-align: right;
  padding-right: 3em;
}
/* CSS para edicion de expo editar end*/

/* Estilos para el footer start*/

footer {
  background-color: var(--mainR);
  color: #ffffff;
}

#footer-seccion-superior {
  display: flex;
}

.seccion-superior {
  padding: 20px;
  line-height: 30px;
}

.seccion-superior h3 {
  font-weight: bold;
  font-size: 14px;
}

.seccion-superior h4 {
  font-weight: 400;
  font-size: 12px;
}

#seccion-iconos {
  display: grid;
  padding-top: 12px;
  margin-left: 50px;
}

#seccion-iconos img {
  width: 50px;
}

#seccion-iconos #telefono {
  width: 35px;
  height: 40px;
  margin-left: 7px;
}

#info-contacto {
  line-height: 47px;
}

#footer-seccion-inferior {
  display: flex;
  text-align: center;
  justify-items: center;
}

#logo-footer {
  justify-content: right;
}

#redes-sociales {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#redes-sociales img {
  width: 60px;
}

#redes-sociales #insta-icon {
  width: 81px;
  padding-bottom: 5px;
}

#facebook_icon {
  cursor: pointer;
}

#insta-icon {
  cursor: pointer;
}

#logo-footer {
  width: 75%;
  text-align: right;
  padding-top: 15px;
}

#logo-footer img {
  width: 175px;
  height: 60px;
  cursor: pointer;
}

/* Estilos para el footer end*/

/* Estilos para la pagina informativa start*/
#container-informativa {
  margin-top: 100px;
  margin-bottom: 75px;
  width: 100%;
  display: flex;
  color: #f6f5f5;
  background-color: #1687a7;
}
#container-seccion-izquierda {
  width: 45%;
}

#container-seccion-izquierda h1 {
  padding-top: 5rem;
  text-align: center;
  font-size: 1rem;
}

#container-seccion-izquierda p {
  /* text-align: center; */
  padding-top: 3.5rem;
  padding: 5%;
  font-size: 0.75rem;
  text-align: justify;
}

#container-seccion-derecha {
  text-align: center;
  width: 55%;
}
#container-seccion-derecha img {
  opacity: 0.7;
  width: 100%;
  height: 500px;
  /* position: fixed; */
  position: static;
}

#container-seccion-derecha-img {
  height: 10%;
  /* width: 80%; */
}

/* Slideshow container start */
/* Slideshow container */

/* .slideshow-container img {
  width: 200px;
  height: 200px;
} */

.slideshow-container {
  /* max-width: 100%; */
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Slideshow container end */

/* Estilos para la pagina informativa end*/

#wrapper {
  display: flex;
  margin-top: 20px;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 20px;
  border-radius: 25px;
  padding: 20px;
}
#w30 {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#w70 {
  background: #ffffff;
  width: 90%;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0px 10px 10px #b8b8b8;
}

.Error {
  color: red;
  /* font-size: 28px; */
  /* background-color: blue; */
  /* width: ; */
  /* display: flex; */
  margin: auto;
  text-align: center;
}

.Sucess {
  color: green;
  /* font-size: 28px; */
  /* background-color: blue; */
  /* width: ; */
  /* display: flex; */
  margin: auto;
  text-align: center;
}

.email-column {
  width: 200px; /* Change this value to whatever width you want */
  /* background-color: #00a2dd; */
}

.rol-column {
  /* background-color: #8b0000; */
  width: 100px;
  /* background-color: chocolate; */
}

.id-column {
  width: 100px;
}

.row-editar {
  width: 150px;
  /* background-color: #b8b8b8; */
}

.row-eliminar {
  width: 100px;
  /* background-color: #b8b8b8; */
  /* background-color: darkorchid; */
}

.categoria-bio {
  padding: 6px 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: default;
  text-decoration: none;
  margin-left: 10px;
}

.categoria-compu {
  padding: 6px 10px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: default;
  text-decoration: none;
  margin-left: 10px;
}

.categoria-ciencias-n {
  padding: 6px 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: default;
  text-decoration: none;
  margin-left: 10px;
}

.row-nombre-proyecto {
  width: 350px;
  /* background-color: black; */
}

.row-etiqueta {
  width: 250px;
  /* background-color: darkslategrey; */
}

.row-cantidad-jueces {
  /* position: absolute; */
  /* text-align: center; */
  /* background-color: #8b0000; */
  width: 225px;
}

#separador {
  margin-top: 80px;
  /* background-color: coral; */
}

#nombre-juez {
  width: 300px;
}

#agregar-quitar-juez {
  width: 100px;
}
