@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root{
  --background: #F5F5F5;
  --main: #112D4E;
  --wordaccent1: #3F72AF;
  --wordaccentbg1: #DBE2EF;
  --wordaccent2: #1687A7;

  --backgroundR: #DDDDDD;
  --mainR: #000035;
  --wordaccent1R: #00BDFF;
  --wordaccentbg1R: white;
  --wordaccent2R: #00a2dd;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;

}

table{
  border-collapse: collapse ;
}

tr { 
  display: flex;
  justify-content: space-between;
  border: solid;
  border-color: var(--backgroundR);
  border-width: 1px 0;
}

tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}

td{
  padding: 5px;
}

body {
  background-color: var(--backgroundR);
}

h1 {
  color: var(--mainR);
}

.header{
  background-color: var(--mainR);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 5px 10%;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
}

.header .logo{
  cursor: pointer;
}

.header .logo img{
  height: 50px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover{
  transform: scale(1.2);
}

.header .btn button{
  font-weight: 700;
  color: var(--wordaccentbg1R);
  padding: 9px 25px;
  background: var(--wordaccent1R);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover{
  /*background-color: var(--wordaccent2R);
  color: var(--wordaccentbg1R); */
  transform: scale(1.1);
}

.container{
  display: grid;
  background: #FFFFFF;
  margin-top: 20px;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 20px;
  border-radius: 25px;
  padding: 20px;
} 


.label{
  margin-top: 20px;
  margin-left: 75px;
  margin-right: 75px;

}

.firstrow{
  justify-items: center;
  display: grid;
  grid-template-columns: 50% 20% 30%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.firstrow .title{
  font-size: 30px;
}
.firstrow .status{
  color: #D3E0EA;
}
.btnP button{
  color: var(--wordaccentbg1R);
  padding: 6px 10px;
  background: var(--wordaccent1R);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btnP button:hover{
  /*background-color: var(--wordaccent2R);
  color: var(--wordaccentbg1R); */
  transform: scale(1.1);
}

.btn button{
  color: var(--wordaccentbg1R);
  padding: 6px 10px;
  background: var(--mainR);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btn button:hover{
  /*background-color: var(--wordaccent2R);
  color: var(--wordaccentbg1R); */
  transform: scale(1.1);
}

.secondrow{
  text-align: justify;
  justify-items: center;
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.secondrow .img{
  width:300px;
  height:auto;
}

.thirdrow{
  justify-items: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.topline{
  display: grid;
  grid-template-columns: 70%;
}

.thirdrow .calbox{
  background-color: var(--wordaccent1R);
  color: #FFFFFF;
  border-radius: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-inline: 27%;
}

.thirdrow .cal{
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

