@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body {
    background-color: #F9F7F7;
  }

  #textInput {
    background-color: #DBE2EF;
    color: rgb(0, 0, 0);
  }

  .header{
    background-color: #112D4E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 5px 10%;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
  }

  .header .logo{
    cursor: pointer;
  }

  .header .logo img{
    height: 50px;
    width: auto;
    transition: all 0.3s;
  }

  .header .logo img:hover{
    transform: scale(1.2);
  }

  .header .bar{
    list-style: none;
  }

  .header .bar li{
    display: inline-block;
    padding: 0 20px;
  }

  .header .bar a{
    font-size: 700;
    color:#DBE2EF;
    text-decoration: none;
  }

  .header .bar li:hover{
    transform: scale(1.1);
  }

  .header .bar p{
    font-size: 600;
    color: #3F72AF;
  }

  .header .bar li a:hover{
    color: #3F72AF
  }

  .header .btn button{
    font-weight: 700;
    color: #3F72AF;
    padding: 9px 25px;
    background: #DBE2EF;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  .header .btn button:hover{
    background-color: #3F72AF;
    color: #DBE2EF;
    transform: scale(1.1);
  }
